<html>
<head>
<title>Image Watermark removal model as a Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Image Watermark removal: UNet with ResNet34 Encoder Model: Output</h1>
	<div class="bd-example" align="left">
	<img src="../static/input.jpeg" alt="Input" style="width:128px;height:128px;">
	<div class="bd-example" align="middle">
	<img src="../static/watermark_added.jpg" alt="Watermark added" style="width:128px;height:128px;">
	<div class="bd-example" align="right">
	<img src="../static/output.jpg" alt="Watermark Removed" style="width:128px;height:128px;">
</div>
</body>